/* // ***** ------------------------ **** ------------------------ ***** // */  
/**
  * STYLES
  *
  * Index
  *
  * - button-base
  * - button-container
  * - button-graphics
  * - container
  * - div-container
  * - div-subcontainer
  * - form-box
  * - form-popup
  * - message
  * - text-container
  * - text-style
  * - text-subcontainer
  *
  */
/* // ***** ------------------------ **** ------------------------ ***** // */     

.button-base {
    background: #bbcce8;
    border: 2.5px solid rgb(14, 71,163);
    display:inline;
}  

.button-graphics {
    cursor: pointer;    
}

.button-graphics:active {
    transform: translateY(1px);
}

.button-graphics:focus {
    outline: black 1px dotted;
    outline-offset: -2px;
}

#container {
    position: fixed;
    height: 800px;
    width: 800px;
}

.div-container {
    text-align: center;
    width: 100%;
}

#div-subcontainer {
    background: #bbcce8;
    border: 2.5px solid rgb(14, 71, 163);
    display: inline-block;
    height: 800px;
    position: relative;
    width: 800px;
}

.form-box {
    background-color: #bbcce8;
    border: 2.5px solid rgb(14, 71, 163);
    display: inline-block;
    height: 250px;
    position: relative;
    top: 30%;
    text-align: center;
    width: 500px;
}

.form-popup {
    background-color: rgba(0, 0 ,0 , 0.4);
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 1;
}

#message {
    color: rgb(14, 71, 163); 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 50px; 
    position: relative;
    top: 15%; 
    text-align: center;
}

#text-container {
    position: fixed;
    height: 50px;
    width: 250px;
}

.text-style {
    background: #bbcce8;
    border: 1px solid #bbcce8;
    color: rgb(14, 71, 163);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 49px;
    text-align: center;
    width: 249px;
}

#text-subcontainer {
    background: #bbcce8;
    border: 2.5px solid rgb(14, 71, 163);
    display: inline-block;
    height: 50px;
    position: relative;
    width: 250px;
}

/* // ***** ------------------------ **** ------------------------ ***** // */  