/* // ***** ------------------------ **** ------------------------ ***** // */  
/**
  * STYLES
  *
  * Index
  *
  * - animated-mole
  * - div-developer-name
  * - div-mole-animation
  * - form
  * - form-box
  * - matt-fung
  * - message
  *
  */
/* // ***** ------------------------ **** ------------------------ ***** // */     

.animated-mole {
    left: 0px;
    position: absolute;
}

.div-developer-name {
    text-align: right;
    width: 100%;
}

.div-mole-animation {
    display: inline-block;
    height: 160px;
    margin-top: 20px;
    position: relative;
    width: 160px;
}

.form {
    background-color: #bbcce8;
    border: 2.5px solid rgb(14, 71, 163);
    display: inline-block;
    position: relative;
    text-align: center;
    top: 25%;
}

.form-box {
    height: 300px;
    text-align: left;
    width: 500px;
}

#matt-fung {
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 8px; 
}

#message {
    color: rgb(14, 71, 163); 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 20px; 
    position: initial;
    text-align: center;
}

/* // ***** ------------------------ **** ------------------------ ***** // */  