/* // ***** ------------------------ **** ------------------------ ***** // */  
/**
  * STYLES
  *
  * Index
  *
  * - animated-mole
  * - body, html
  * - button-base
  * - button-graphics
  * - div-container
  * - div-developer-name
  * - div-mole-animation
  * - matt-fung
  */
/* // ***** ------------------------ **** ------------------------ ***** // */     

.animated-mole {
    left: 0px;
    position: absolute;
}

body,html {
    min-width: 1130px;
}

.button-base {
    background: #bbcce8;
    border: 2.5px solid rgb(14, 71,163);
    display:inline;
}  

.button-graphics {
    cursor: pointer;    
}

.button-graphics:active {
    transform: translateY(1px);
}

.button-graphics:focus {
    outline: black 1px dotted;
    outline-offset: -2px;
}

.div-container {
    text-align: center;
    width: 100%;
}

.div-developer-name {
    text-align: right;
    width: 100%;
}

.div-mole-animation {
    display: inline-block;
    height: 160px;
    margin-top: 20px;
    position: relative;
    width: 160px;
}

#matt-fung {
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 8px; 
}

/* // ***** ------------------------ **** ------------------------ ***** // */  