/* // ***** ------------------------ **** ------------------------ ***** // */  
/**
  * STYLES
  *
  * Index
  *
  * - container
  * - div-container
  * - div-subcontainer
  *
  */
/* // ***** ------------------------ **** ------------------------ ***** // */

#container {
    position: fixed;
    height: 800px;
    width: 800px;
}

.div-container {
    text-align: center;
    width: 100%;
}

#div-subcontainer {
    background: #bbcce8;
    display: inline-block;
    position: relative;
}

/* // ***** ------------------------ **** ------------------------ ***** // */  